local_sh
node_modules
/dist
.tmp
.sass-cache
npm-debug.log
=======
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.obj
*.exe
*.pdb
*.tlb
*.tlh
*.lib
[Tt]est[Rr]esult*
*.class
*.dll
.*
.gradle/1.12/taskArtifacts/cache.properties.lock
output_zip/
*/build/
*/gen/*
node_modules
onlineorder-mgr/.classpath
onlineorder-mgr/.settings/org.eclipse.jdt.core.prefs
!.gitignore
*.iml
classes
out/
*.js.map
